<main>
  <form [formGroup]="form">
    <input type="text" formControlName="term" />
    <select formControlName="category">
      <option value="">All Categories</option>
      @for (category of categories(); track category) {
      <option [value]="category">{{ category }}</option>
      }
    </select>
  </form>
  @defer { @for (product of products(); track $index) {
  <div>
    <p>{{ product.name }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.category }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.created_at }}</p>
  </div>
  } } @placeholder {
  <p>Future products..</p>
  } @loading (minimum 2s) {
  <p>Loading products...</p>
  }
</main>

<router-outlet />
